.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav ul {
    display: flex;

}

.header__nav-item {
    margin-right: 60px;
    font-size: 14px;
}

.header__title {
    font-weight: 900;
    font-size: 26px;
    color: #37447E;
}

.header__learn-more {
    width: 104px;
    margin: 20px;
}

.header__buy-now {
    background-color: #FFD166;
    width: 104px;
    color: #111B47;

}