.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav ul {
    display: flex;

}

.header__nav-item {
    margin-right: 60px;
    font-size: 14px;
}

.header__title {
    font-weight: 900;
    font-size: 26px;
    color: #37447E;
}

.header__learn-more {
    display: inline-block;
    width: 104px;
    margin: 20px;
    background-color: #111B47;
    border: 0;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.header__buy-now {
    display: inline-block;
    background-color: #FFD166;
    width: 104px;
    color: #111B47;
    margin: 20px;
    border: 0;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;

}