.article__upper {
    width: 540px;
    padding-bottom: 40px;
    padding-top: 50px;

}

.mobile__wrapper {
    width: 590px;
    height: 570px;
    overflow: hidden;
    position: relative;
}

.hero__middle {
    display: flex;
}

.hero__title {
    color: #091133;
}

.hero__paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.container-item {
    display: flex;
    justify-content: space-between;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.text-box {
    padding-top: 300px;
}

.feature-item {
    width: 255px;
    padding-right: 20px;
}

.feature-icon {
    padding-top: 40px;
    animation: floating 3s linear infinite;
    position: relative;
    z-index: -1;
}

.small__paragraph {
    font-size: 12px;
    color: #5D6970;
    line-height: 18px;
}


.girl-image {
    margin-top: 260px;
    margin-left: 100px;

}

.prices__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__title {
    width: 730px;
    margin-top: 150px;
}

.price__container {
    width: 320px;
    margin-top: 90px;
}

.pricing {
    color: #37447E;
}

.pricing__options {
    margin-bottom: 10px;
}

.pricing__description {
    font-size: 14px;
    color: #5D6970;
    margin-bottom: 10px;
    line-height: 24px;
}

.purchase__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 26px;
    margin-top: 20px;
    background-color: #111B47;
    border: 0;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    animation: scaling 1s linear infinite;
}

@media screen and (max-width: 1150px) {
    .container {
        padding: 0 15px;
    }

    .hero__middle {
        flex-direction: column;
        margin: 0 auto;
    }

    .text-box {
        margin: 0 auto;
    }

    .girl-image {
        margin: 0 auto;
        transform: scale(1);
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .hero__container {
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
    }

    .mobile__wrapper {
        display: none;
    }

    .container-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        text-align: center
    }

    .hero-section {
        background-image: none;

    }

    .article__upper {
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }

    .text-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        padding-top: 40px;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .hero__middle {
        flex-direction: column;
        justify-content: center;
    }

    .hero__paragraph {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center
    }


    .pricing__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        padding-top: 40px;
        text-align: center;
    }


    .prices__box {
        flex-direction: column;
    }

    .girl-image {
        margin: 40px 0;
    }

    .purchase__button {
        padding: 0;
        margin: 20px auto;
    }

    .mobile__image {
        display: none;
    }

    .feature-item {
        padding-right: 0;
    }

    .price__container {
        width: 100%;
    }

}