.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #fff;
    font-family: Arimo, sans-serif;
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
}

.productInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}


.icon {
    color: #fff;
    width: 48px;
    height: 48px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin: 0;
}

.actions {
    display: flex;
    align-items: center;
    gap: 40px;
}

.quantityControl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #9ca3af;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    color: #4b5563;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f3f4f6;
}

.quantity {
    min-width: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
}

.price {
    font-weight: 500;
    color: #111;
    min-width: 40px;
    text-align: right;
}