p {
    font-family: 'Source Sans Pro';
    color: #333333;
}

h5 {
    font-family: 'Source Sans Pro';
    color: #333333;
}

h2 {
    font-family: 'Source Sans Pro';
    color: #333333;
}

a {
    color: #333333;
}

hr {
    border-top: 1px solid #424242;
}